<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476371488816-dtaqed3rldrt1r0461j1mpjaq9d8u6hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476371488816-dtaqed3rldrt1r0461j1mpjaq9d8u6hk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476371488816-98kt8naf4vsgtde72r1gh5a0c14vbs48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAvvyqF7I3KQIifd_pWyx5Q4c3Ysp-Dds</string>
	<key>GCM_SENDER_ID</key>
	<string>476371488816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dkk.perspectives</string>
	<key>PROJECT_ID</key>
	<string>perspectives-aa11c</string>
	<key>STORAGE_BUCKET</key>
	<string>perspectives-aa11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476371488816:ios:16704d7570bc021ab05df5</string>
	<key>DATABASE_URL</key>
	<string>https://perspectives-aa11c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>